In [ ]:
# 시뮬레이션 퀴즈 - 1

# Series 유형으로 아래와 같은 형태의데이터를 생성할 때 
# 적절한 명령어를 입력하세요.

# 예시 데이터

#   배       1500
#   복숭아     800
#   사과     1200


# 문제 코드
import pandas as pd

fruits = # 여기에 입력 받는 창 만들어 주세요.

In [4]:
fruits = pd.Series( { '사과': 1200 , '배':1500 , '복숭아': 800} )

fruits

배      1500
복숭아     800
사과     1200
dtype: int64

In [10]:
# 시뮬레이션 퀴즈 - 2
# Data Frame 유형으로 데이터 생성하기
# 아래의 주어진 예시대로 데이터를 생성할 때 적당한 코드를 입력하세요.

# 예시 데이터
# 이름          수량     판매금액
# 허니버터칩    1          800
# 감자깡        2         2400
# 새우깡        1         1100

fa = {  '이름' : ['허니버터칩','감자깡','새우깡'] ,
        '수량' : [1,2,1 ],
        '판매금액' : [800,2400,1100] }        

#fb = # 이곳에 입력받는 창 만들어 주세요.

#정답 코드

fb = pd.DataFrame(fa , columns=['이름','수량','판매금액'])
fb

      이름  수량  판매금액
0  허니버터칩   1   800
1    감자깡   2  2400
2    새우깡   1  1100